* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1522673607200-164d1b6ce486") center/cover no-repeat;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.hero-content {
    text-align: center;
    margin-top: 150px;
}

.hero-content h2 {
    font-size: 42px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: #e6b566;
    color: #000;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
}

/* SECTIONS */
.section {
    padding: 80px 100px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section.dark {
    background: #111;
    color: #fff;
}

/* SERVICES */
.service-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.service {
    background: #222;
    padding: 30px;
    border-radius: 15px;
}

.service i {
    font-size: 40px;
    color: #e6b566;
    margin-bottom: 15px;
}

/* CONTACT */
.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.social a {
    display: inline-block;
    margin: 10px;
    color: #e6b566;
    text-decoration: none;
    font-size: 18px;
}

/* FOOTER */
footer {
    background: #000;
    color: #aaa;
    text-align: center;
    padding: 15px;
}
